<div class="row background">
  <div class="col p-4">
    <div class="row">
      <div class="col">Product:</div>
      <select [(ngModel)]="selectedProduct" class="col">
        <option *ngFor="let product of products" [ngValue]="product">{{product.productName}}</option>
      </select>
    </div>

    <div class="row">
      <div class="col">Preis:</div>
      <div class="col">{{selectedProduct.price}}</div>
    </div>

    <div class="row">
      <div class="col">Anzahl:</div>
      <input type="number" [(ngModel)]="quantity" class="col">
    </div>

    <div class="row">
      <div class="col">Gesamtpreis:</div>
      <div class="col">{{selectedProduct.price * quantity}}</div>
    </div>

    <div class="row">
      <div class="col"></div>
      <button class="btn btn-warning col flex-grow-0" (click)="addOrder()">Add</button>
    </div>
  </div>
  <div class="col p-4">
    <div class="row">
      <div class="col">Summe:</div>
      <div class="col">{{selectedProduct.price}}€</div>
    </div>
    <div class="row">
      <div class="col">Nachlass:</div>
      <div class="col">{{selectedProduct.price}}€</div>
    </div>
    <div class="row">
      <div class="col">Gesamt:</div>
      <div class="col">{{selectedProduct.price}}€</div>
    </div>
  </div>
</div>
<div class="row p-2">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Anzahl</th>
      <th scope="col">Produkt</th>
      <th scope="col">Einzelpreis</th>
      <th scope="col">Gesamtpreis</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <th scope="row">{{orders.indexOf(order)}}</th>
      <td>{{order.quantity}}</td>
      <td>{{order.product.productName}}</td>
      <td>{{order.product.price}}</td>
      <td>{{order.fullPrice}}</td>
      <td>
        <button class="btn btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
